@use 'hero';
@use 'variaveis';

@font-face {
    font-family: Sofia Pro;
    src: url('../../assets/fonts/sofiapro-light.otf');
    font-weight: 400;
}

@font-face {
    font-family: BluuNext;
    src: url ('../../assets/fonts/BluuNext-Bold.otf');
    font-weight: 400;
}

@font-face {
    font-family: BluuNext;
    src: url('../../assets/fonts/BluuNext-Bolditalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: BluuNext;
    src: url('../../assets/fonts/BluuNext-Titling.otf');
    font-weight: bold;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize:32px) {
    @include text($fontSize);
    color: variaveis.$corTextoPrincipal;
}

.text--default {
    @include text;
}

.text--big {
    @include text(18px);
}

.text--small {
    @include text(14px);
}

.text--button {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoPrincipal;
}

.title--big {
    @include title(60px);
}

.title--default {
    @include title;
}
